# Prerequisites
*.d

#directories
/UniSockClient/build/
/UniSockClient/${workspaceRoot}/
/UniSockServer/build/
/UniSockServer/${workspaceRoot}/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/UniSocketsClient/.idea/workspace.xml
/UniSockServer/.idea/workspace.xml
